[submodule "roles/computate.computate_supertuxkart"]
	path = roles/computate.computate_supertuxkart
	url = https://github.com/computate-org/computate_supertuxkart.git
[submodule "roles/computate.computate_bzflag"]
	path = roles/computate.computate_bzflag
	url = https://github.com/computate-org/computate_bzflag.git
[submodule "roles/computate.computate_powertools"]
	path = roles/computate.computate_powertools
	url = https://github.com/computate-org/computate_powertools.git
[submodule "roles/computate.computate_mari0"]
	path = roles/computate.computate_mari0
	url = https://github.com/computate-org/computate_mari0.git
[submodule "roles/computate.computate_libmodplug"]
	path = roles/computate.computate_libmodplug
	url = https://github.com/computate-org/computate_libmodplug.git
[submodule "roles/computate.computate_sqlit"]
	path = roles/computate.computate_sqlit
	url = https://github.com/computate-org/computate_sqlite.git
[submodule "roles/computate.computate_sqlite"]
	path = roles/computate.computate_sqlite
	url = https://github.com/computate-org/computate_sqlite.git
[submodule "roles/computate.computate_fox"]
	path = roles/computate.computate_fox
	url = https://github.com/computate-org/computate_fox.git
[submodule "roles/computate.computate_sumo"]
	path = roles/computate.computate_sumo
	url = https://github.com/computate-org/computate_sumo.git
